*{
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 20px;
}

.nav div {
  margin-left: 20px;
}

.nav img {width: 45px; height: auto;}


.users-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 60px;
}

.spinner {
width: 24px;
animation: loading infinite 3s linear;
}

@keyframes loading{
from{
  transform: rotateZ(0deg);
}
to{
  transform: rotateZ(360deg);
}
}
